.op{
	border: 1px solid #eee;
    border-radius: 2px;
    padding: 25px 35px;
    margin-top: 1em;
    margin-bottom: 40px;
    line-height: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: auto;
    width: 26%;
    background-color: #f8f8f8;
    float: left;
    margin: 10px
}	
.op-h{
	font-size: 1.2em;
	color: #42b983;
    font-weight: 600;
    text-align: center;
    margin-top: 0;
}	